<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <style type="text/css">
            html, body {
                margin: 0;
                font-family: sans-serif;
                background-color: #f1f1f1;
            }

            .container {
                position: relative;
                width: 900px;
                font-size: 14px;
                background-color: white;
                margin: 10px auto;
                padding: 10px;
                border: 1px solid lightgray;
                color: #555;
            }

            .container h1 {
                font-size: 24px;
                padding-bottom: 30px;
            }

            .container .footer {
                text-align: center;
                font-size: 12px;
            }

            .container .footer a {
                color: #0068A5;
            }

            img.logo {
                float: right;
                display: block;
                position: absolute;
                right: 10px;
                max-width: 250px;
                max-height: 80px;
                top: 10px;
            }

            hr {
                border: none;
                border-top: 1px solid lightgray;
            }

            a.btn {
                padding: 10px 15px;
                border-radius: 3px;
                background-color: {{user.mailTemplate.color}};
                color: white;
                text-decoration: none;
                margin: 7px auto 15px 0;
                display: inline-block;
                font-size: 12px;
            }

            a.btn:hover {
                text-decoration: none;
                color: white;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Hello {{user.firstName}} {{user.lastName}},</h1>
            <img class="logo" src="{{user.mailTemplate.logo}}">
            <p>Welcome to {{user.mailTemplate.projectName}}. Below you will find your account details.</p>
            <strong>Account details:</strong>
            <ul>
                {{#if user.meta.vatId}}
                    <li>VAT ID: {{user.meta.vatId}}</li>
                {{/if}}
                {{#unless user.meta.vatId}}
                    <li>Email: {{user.email}}</li>
                {{/unless}}
                <li>Password: {{password}}</li>
            </ul>
            <a class="btn" href="{{link}}">Go to {{user.mailTemplate.projectName}}</a>
            <hr>
            <div class="footer">
                <a href="{{link}}">{{user.mailTemplate.projectName}}</a>
            </div>
        </div>
    </body>
</html>
